@import url('https://fonts.googleapis.com/css?family=Karla');

body{
    margin-top: 0px;
    max-width: 200px;
}

.header{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
}

#firstColHeader{
    font-weight: bold;
    display: inline-block;
    width: 77px;
}

#secondColHeader{
    font-weight: bold;
}

form {
    min-width: 190px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input#save {
    font-weight: bold; width: auto;
}

.input{
    width: 95%;
}

#submit{
    position: relative; float: right;
}

#remove{
    position: relative; float: right;
}

#dictionary{
    max-height: 0px;
    overflow: auto;

    /* Dropdown animation */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

row{
    float: left;
    margin-top: 5px;
}

#checkbox{
    float: right;
}

li{
    margin-bottom: 4px;
    list-style-type: none;
}

.key{
    display: inline-block;
    width: 94px;
}

ul{
    padding: 0px;
    margin-top: 0px;
}

/* Scroll bar animations */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
