form {
    min-width: 300px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input, textarea {
}

input#save {
    font-weight: bold; width: auto;
}

#submit{
    position: relative; float: right;
}

#dictionary{
    display: none;
    max-height: 200px;
    overflow:auto;
}

row{
    float: left;
    margin-top: 5px;
}

#checkbox{
    float: right;
}

li{
    margin-bottom: 3px;
    list-style-type: none;
}

ul{
    padding: 0px;
}
