form {
    min-width: 300px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input, textarea {
    width: 300px;
}

input#save {
    font-weight: bold; width: auto;
}

#submit{
    position: relative; float: right;
}
