@import url('https://fonts.googleapis.com/css?family=Karla');

body{
    margin-top: 0px;
    max-width: 200px;
    min-width: 200px;
}

.header{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin-left: 10px;
}

#settings{
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    color: #4d90fe;
}

#settings:hover{
    opacity: 75%;
}

#firstColHeader{
    font-weight: bold;
    display: inline-block;
    width: 65px;
}

#secondColHeader{
    font-weight: bold;
    display: inline-block;
    width: 80px;
}

#thirdColHeader{
    font-weight: bold;
}

form {
    min-width: 190px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input#save {
    font-weight: bold; width: auto;
}

.input{
    width: 100%;
}

#submit{
    position: relative; 
    float: right;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    color: white;
    outline: none;
}

#remove{
    font-size: 12px;
    position: relative; 
    float: right;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    color: white;
    outline: none;
}

#display{
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    color: white;
    outline: none;
}

#dictionary{
    max-height: 0px;
    overflow: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;

    /* Dropdown animation */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

.row{
    float: left;
    margin-left: 0px;
    margin-top: 5px;
}

li{
    margin-bottom: 4px;
    margin-left: 0px;
    list-style-type: none;
}

.key{
    display: inline-block;
    width: 68px;
}

.value{
    display: inline-block;
    width: 95px;
}

ul{
    padding: 0px;
    margin-top: 0px;
}

p{
    margin-left: 5px;
    margin-right: 5px;
}

label{
    margin-bottom: 0px;
}

#pluralBox{
    position: relative;
    left: 40px;
}

#capitalBox{
    position: relative;
    left: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 200px;
    background-color: rgb(35, 189, 86); 
    color: #fff; 
    font-weight: bold;
    text-align: center; 
    padding: 8px; 
    position: fixed; 
    z-index: 1;
    left: 0px;
    bottom: 0px; 
  }
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
  }
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadeout {
from {padding: 8px; opacity: 1;} 
to {padding: 0px; opacity: 0;}
}

@keyframes fadeout {
from {padding: 8px; opacity: 1;} 
to {padding: 0px; opacity: 0;}
}

@-webkit-keyframes fadein {
from {padding: 0px; opacity: 0;} 
to {padding: 8px; opacity: 1;}
}

@keyframes fadein {
from {padding: 0px; opacity: 0;}
to {padding: 8px; opacity: 1;}
}

/* Scroll bar animations */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
